/* Základní styl pro tělo stránky */
.body {
  display: block;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Kontejner pro řádky na hlavní stránce v indexu */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.column {
  flex: 50%;
  display: flex;
  flex-wrap: wrap;
}

.rowFrontPage__text-header {
  margin-right: 300px;
}

/* Jednotlivé buňky na hlavní stránce v indexu */
.rowFrontPage {
  display: flex;
  align-items: center;
  width: 345px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
  margin: 1%;
  text-decoration: none;
}

/* Styl obrázku k řádkům */
.frontPageItemPicture {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.frontPageText {
  color: black;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  text-decoration: none;
}


.header-link {
  text-decoration: none;
  color: white; /* Set the color to white */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  width: auto;
  position: relative;
  background-image: linear-gradient(to top, #a1151c, #fb2f3a);
}

.header__inner {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  position: relative;
  left: 85px;
}

.search-form {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 20px;
  position: relative;
  font-size: 17px;
  left: 200px;
}

.search-form__input {
  flex-grow: 1;
  padding: 10px;
  width: 300px; 
  height: 20px;
}

/* Živý výsledek styl */
#livesearch {
  position: absolute;
  z-index: 1;
  top: 100%;
  width: 100%;
  max-width: 300px;
  background: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
}

/* Přidán hover efekt na živý výsledek */
#livesearch:hover {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

/* Styl tlačítka ve vyhledávacím poli */
.search-form__button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 13px 12px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;

}

/* Hover efekt pro tlačítko ve vyhledávacím poli */
.search-form__button:hover {
  background-color: #000000;
}



/* Přidáme styl pro dropdown */
.dropdown {
  left: 390px;
  position: relative;
  display: inline-block;
  border-style: groove;
  border-radius: 20%;
  padding: 5px;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  margin: 10px;
  left: -30px;
  z-index: 1;
}

/* Zobrazíme dropdown při najetí myší */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Přidáme styl pro obsah dropdownu */
.dropdown-content p {
  margin: 0; /* Odstraníme odsazení odstavce */
}

.dropdown-content a {
  color: #333; /* Změníme barvu odkazů */
  text-decoration: none; /* Odstraníme podtržení odkazů */
}

.dropdown-content a:hover {
  text-decoration: underline; /* Přidáme podtržení při najetí myší */
}

/* Style h1 to remove underline and set color to white */
a.header__link {
  position: relative;
  left: 90px;
  text-decoration: none;
  color: white;
}

.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #FFFFFF;
  }




/* Blok */
.recept {
  margin-left: 300px;
  margin-right: 300px;
}

/* Elementy bloku */
.recept__header {
  display: flex;
  align-items: flex-start;
}

.recept__obrazek {
  width: 500px;
  height: 400px;
}

.recept__nazev {
  margin-left: 20px;
}

.recept__info {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}

.recept__body {
  display: flex;
}

.recept__ingredience {
  flex: 1;
}

.recept__postup {
  flex: 1;
}

/* Modifikátory elementu */
.recept__header--varianta1 {
  display: flex;
}

.recept__header--varianta2 {
  margin-left: 20px;
}






/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  size: 40px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  box-sizing: border-box;
  max-width: 50%;
  margin: auto;
  width: 50%;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}




.button-container {
  text-align: center;
}

.button {
  display: inline-block;
  width: 100px;
  height: 50px;
  margin: 10px;
  padding: 10px; 
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  border: 2px solid #a1151c;
  background-color: white;
  border-radius: 50%;
  color: black;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #a1151c;
  color: white;
}