/* Základní styl pro tělo stránky */
.body {
  display: block;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Kontejner pro řádky na hlavní stránce v indexu */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 40px;
}

/* Jednotlivé buňky na hlavní stránce v indexu */
.rowFrontPage {
  display: flex; /* Přidáno pro zarovnání položek na stejnou úroveň */
  align-items: center; /* Zarovnání položek na střed */
  justify-content: flex-start; /* Zarovnání položek na začátek */
  width: 24%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
  flex: 0 0 23%;
  margin: 1%;
  box-sizing: border-box;
  text-decoration: none;
}

/* Styl obrázku k řádkům */
.frontPageItemPicture {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.frontPageText {
  color: black; /* Černá barva textu */
  text-align: center; /* Zarovnání textu na střed */
  font-size: 18px; /* Velikost písma */
  line-height: 1.5; /* Výška řádku */
  word-wrap: break-word; /* Zalamování slov */
  text-decoration: none; /* Odstranění podtržení */
}

.header-link {
  text-decoration: none;
  color: white; /* Set the color to white */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 15px;
  width: auto;
  position: relative;
  background-color: rgb(197, 22, 22);
}

.header__inner {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  position: relative;
  left: 85px;
}

.search-form {
  flex-grow: 1;
  margin: 0 20px;
  position: relative;
  left: 250px;
}

.header__drop-down {
  flex-grow: 1;
  margin: 0 20px;
  position: relative;
  left: 390px;
}

/* Style h1 to remove underline and set color to white */
a.header__link {
  position: relative;
  left: 90px;
  text-decoration: none;
  color: white;
}


.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #FFFFFF;
  }




/* Blok */
.recept {
  margin-left: 300px;
  margin-right: 300px;
}

/* Elementy bloku */
.recept__header {
  display: flex;
  align-items: flex-start;
}

.recept__obrazek {
  width: 500px;
  height: 400px;
}

.recept__nazev {
  margin-left: 20px;
}

.recept__info {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}

.recept__body {
  display: flex;
}

.recept__ingredience {
  flex: 1;
}

.recept__postup {
  flex: 1;
}

/* Modifikátory elementu */
.recept__header--varianta1 {
  display: flex;
}

.recept__header--varianta2 {
  margin-left: 20px;
}






/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  box-sizing: border-box;
  max-width: 50%;
  margin: auto;
  width: 50%;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* Živý výsledek styl */
#livesearch {
  position: absolute;
  z-index: 1;
  margin-top: 10px; /* Přidáno pro oddělení od vyhledávacího pole */
  width: 80%;
  max-width: 50%;
  background: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}